@{
    Layout = null;
}

@model List<Category>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - primary meta tags
    -->
    <title>Happy Kitchen - Nơi ẩm thực thăng hoa</title>
    <meta name="title" content="Happy Kitchen - Nơi ẩm thực thăng hoa">
    <meta name="description" content="Team: TKT">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/css/menu.css">

    <!--
      - preload images
    -->
    <link rel="preload" as="image" href="~/images/hero-slider-1.jpg">
    <link rel="preload" as="image" href="~/images/hero-slider-2.jpg">
    <link rel="preload" as="image" href="~/images/hero-slider-3.jpg">

</head>

<body id="top">

    <!--
      - #PRELOADER
    -->

    <div class="preload" data-preaload>
        <div class="circle"></div>
        <p class="text">HAPPY KITCHEN</p>
    </div>





    <!--
      - #TOP BAR
    -->

    <div class="topbar">
        <div class="container">

            <address class="topbar-item">
                <div class="icon">
                    <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">
                    Happy Kitchen, 01 Thảo Điền, Hồ Chí Minh, VN
                </span>
            </address>

            <div class="separator"></div>

            <div class="topbar-item item-2">
                <div class="icon">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">Mở cửa : 8.00 AM - 10.00 PM</span>
            </div>

            <a href="tel:+11234567890" class="topbar-item link">
                <div class="icon">
                    <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">+84 977139203</span>
            </a>

            <div class="separator"></div>

            <a href="mailto:booking@restaurant.com" class="topbar-item link">
                <div class="icon">
                    <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">happykitchenvn2025@gmail.com</span>
            </a>

        </div>
    </div>





    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/images/logo.png" width="160" height="50" alt="Happy Kitchen - Home">
            </a>

            <nav class="navbar" data-navbar>

                <button class="close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>

                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="~/images/logo.svg" width="160" height="50" alt="Happy Kitchen - Home">
                </a>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="@Url.Action("Index", "Home")#home" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Trang Chủ</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="@Url.Action("Index", "Home")#about" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Giới Thiệu</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="@Url.Action("Index", "Home")#menu" class="navbar-link hover-underline active">
                            <div class="separator"></div>

                            <span class="span">Thực Đơn</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="@Url.Action("Index", "Home")#event" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Sự Kiện & Mẹo Vặt</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="@Url.Action("Index", "Home")#connect" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">Kết Nối</span>
                        </a>
                    </li>

                </ul>

            </nav>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>





    <main>
        <article>

            <!--
              - #MENU
            -->

            <section class="section menu" aria-label="menu-label" id="menu">
                <div class="container">

                    <p class="section-subtitle text-center label-2">Chọn hương vị tô điểm cho ngày tuyệt vời của bạn</p>
                    @foreach (var cate in Model)
                    {
                        <h2 class="headline-1 section-title text-center">@cate.CategoryName</h2>

                        <ul class="grid-list">
                            @foreach (var item in cate.MenuItems)
                            {
                                <li>
                                    <div class="menu-card hover:card">
                                        <a href="@Url.Action("DetailDish", "Home", new { MenuItemID = item.MenuItemID })">
                                            <figure class="card-banner img-holder" style="--width: 150; --height: 150;">
                                                <img src="~/images/MenuItem/@item.MenuItemImage" width="150" height="150" loading="lazy"
                                                     alt="@item.Name" class="img-cover">
                                            </figure>
                                        </a>

                                        <div>
                                            <div class="title-wrapper">
                                                <h3 class="title-3">
                                                    <a href="@Url.Action("DetailDish", "Home", new { MenuItemID = item.MenuItemID })" class="card-title">@item.Name
                                                    </a>
                                                </h3>
                                                <span class="span title-2">@item.Price.ToString("N0") VNĐ</span>
                                            </div>

                                            <p class="card-text label-1">
                                                @item.Description
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    <p class="menu-text text-center">
                        Thực đơn cho mọi ngày từ <span class="span">9:00 am</span> to <span class="span">10:00 pm</span>
                    </p>
                    <p class="menu-text text-center">
                        Chúc quý khách ngon miệng!
                    </p>

                    <img src="~/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
                         class="shape shape-2 move-anim">
                    <img src="~/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape"
                         class="shape shape-3 move-anim">

                </div>
            </section>

            <!--
              - #BACK TO TOP
            -->

            <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
                <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
            </a>

            <script> 
                function showDetails(name, image, price, description) {
                    document.getElementById("detailModalLabel").textContent = name;
                    document.getElementById("modalImage").src = "/images/MenuItem/" + image;
                    document.getElementById("modalPrice").textContent = "Giá: " + price + " VNĐ";
                    document.getElementById("modalDescription").textContent = description;
                }
            </script>
            <!--
              - custom js link
            -->
            <script src="~/js/menu_script.js"></script>

            <!--
              - ionicon link
            -->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script src="assets/js/section.js"></script>

            <script>
            toastr.options = {
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            </script>
</body>

</html>